a:hover {
    text-decoration: none;
}
body {
    background-color: #f4f6f9;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", "Segoe UI", arial;
    color: #6c757d;
}



li {
    list-style: none;
}



/* side-bar */

.dropdown-menu.show {
    display: block !important;
}
.navbar .dropdown-menu {
    position: absolute; }
.navbar .navbar-nav {
    flex-direction: row; }
.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto; } 
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.main-sidebar .sidebar-brand a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #000;
}
.main-sidebar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    z-index: 880;
    left: 0; 

}

.main-sidebar .sidebar-menu {
    padding: 0;
    margin: 0;
}
.main-sidebar .sidebar-menu li.active a {
    color: #6777ef;
    font-weight: 600;
    background-color: #f8fafb;
}
.main-sidebar .sidebar-menu li {
    display: block;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
body.sidebar-show.main-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}
.main-sidebar .sidebar-brand {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.main-sidebar li > a{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    width: 100%;
    letter-spacing: .3px;
    color: #78828a;
    text-decoration: none;
}

.main-sidebar .sidebar-menu li a i {
    width: 28px;
    margin-right: 20px;
    text-align: center;
}


.main-sidebar .sidebar-menu li a:hover {
    background-color: #f8fafb; 
}


.main-sidebar .sidebar-menu li.menu-header {
    padding: 3px 15px;
    color: #a1a8ae;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
}


/*nav-bar*/
.navbar-bg {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-color: #6777ef;
    z-index: -1; }
  

.navbar {
    height: 70px;
    left: 250px;
    right: 5px;
    position: absolute;
    z-index: 890;
    background-color: transparent;
}


.navbar {
    align-items: center;
}

.navbar .nav-link {
    color: #f2f2f2;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 100%;
}
.navbar .nav-link.nav-link-user {
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 600;
}

.navbar .nav-link.nav-link-user img {
    width: 30px;
}


/* content */

.main-content {
    padding-left: 280px;
    padding-right: 30px;
    padding-top: 80px;
    width: 100%;
    position: relative;
}
.section {
    position: relative;
    z-index: 1;
}


.section .section-header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.section .section-header h1 {
    margin-bottom: 0;
    font-weight: 700;
    display: inline-block;
    font-size: 24px;
    margin-top: 3px;
    color: #34395e;
}

/* content-body */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 10px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}


.btn.btn-lg {
    padding: 0.55rem 1.5rem;
    font-size: 12px;
}
.btn-success, .btn-success.disabled {
    box-shadow: 0 2px 6px #81d694;
    background-color: #47b0c3;
    border-color: #47bbc3;
    color: #fff;
}
.btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0.3rem 0.8rem;
    letter-spacing: .5px;
}

input {
    outline: #78828a;
}

.table {
    border-collapse: collapse;
  
}

.table th, td{
    border: 1px solid black;
   
}

.table .table-header th {
    text-align: center;
}
.solve a {
    padding: 4px;
}

/*sidebar-mini*/
body.sidebar-mini .main-sidebar {
    width: 65px;
    overflow: initial !important;
    position: absolute;
    box-shadow: none; }
body.sidebar-mini .main-sidebar:after {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    content: ' ';
    position: fixed;
    background-color: #fff;
    width: 65px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    -webkit-animation-name: mini-sidebar;
            animation-name: mini-sidebar;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
@-webkit-keyframes mini-sidebar {
    from {
        opacity: 0; }
    to {
        opacity: 1; } }
    
@keyframes mini-sidebar {
    from {
        opacity: 0; }
    to {
        opacity: 1; } }
body.sidebar-mini .main-sidebar .sidebar-brand {
    display: none; }
body.sidebar-mini .main-sidebar .sidebar-brand-sm {
    display: block; }
body.sidebar-mini .main-sidebar .sidebar-menu > li {
    padding: 10px; }
body.sidebar-mini .main-sidebar .sidebar-menu > li.menu-header {
        padding: 0;
        font-size: 0;
        height: 2px; }
body.sidebar-mini .main-sidebar .sidebar-menu > li > a {
        border-radius: 3px;
        height: 45px;
        padding: 0;
        justify-content: center; }
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .ion, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fas, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .far, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fab, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fal {
    margin: 0;
    font-size: 20px; }
body.sidebar-mini .main-sidebar .sidebar-menu > li > a span {
    display: none; }
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .badge {
    padding: 5px;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 10px; }
body.sidebar-mini .main-sidebar .sidebar-menu > li > a.has-dropdown:after {
    content: initial; }
body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
        box-shadow: 0 4px 8px #acb5f6;
        background-color: #6777ef;
        color: #fff; }
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu {
        position: absolute;
        background-color: #fff;
        left: 65px;
        top: 10px;
        width: 200px;
        display: none;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.03); }
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li > a:focus,
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a,
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a:hover {
color: #fff;
background-color: #6777ef !important; }
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li a {
height: 40px;
padding: 0 20px;
background-color: #fff; }
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li a.has-dropdown:after {
    content: "ï”";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    font-size: 12px;
    transition: all .5s; }
    body.sidebar-mini .main-sidebar .sidebar-menu li:hover > ul.dropdown-menu {
    display: block !important; }
    body.sidebar-mini .main-sidebar .sidebar-menu li:hover > ul.dropdown-menu li:hover > a {
        background-color: #fcfdfd; }
    body.sidebar-mini .main-sidebar .sidebar-menu li:hover > ul.dropdown-menu li .dropdown-menu {
        left: 200px;
        padding: 0; }

body.sidebar-mini .navbar {
    left: 65px; }

body.sidebar-mini .main-content, body.sidebar-mini .main-footer {
    padding-left: 90px; }
body.sidebar-gone .main-sidebar {
    left: -250px; }
.add-household-btn {
    display: inline-block;
    text-align: right;
    padding: 30px;
    
}
.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #888;
    width: 500px;
    z-index: 1000;
}