<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />


    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/custom.css">


</head>

<body class="sidebar-show">
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                                    class="fas fa-search"></i></a>
                        </li>
                    </ul>
                    <div class="search-element"></div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                    </li>
                </ul>
            </nav>


            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="http://localhost:8000/Dashboard">Admin</a>
                    </div>

                    <ul class="sidebar-menu">
                        <li class="nav-item dropdown ">
                            <a href="http://localhost:8000/Dashboard" class="nav-link"><i class="fas fa-home"></i>
                                <span>Dashboard</span></a>
                        </li>
                        <li class="menu-header">Quản lý</li>
                        <li class="nav-item dropdown">
                            <a href="http://localhost:8000/model" class="nav-link"><i class="fas fa-user-friends"></i>
                                <span>Model</span></a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a href="http://localhost:8000/output" class="nav-link"><i class="fas fa-user"></i>
                                <span>Output</span></a>
                        </li>
                </aside>
            </div>
            <div class="main-content">
                <div class="section">
                    <div class="section-header">
                        <h1>Welcome back</h1>
                    </div>
                </div>
                <section class="section">
                    <div class="section-header">
                        <h1>Kiểm tra model</h1>
                    </div>
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6">
                                <div class="card">
                                    <h1 style="font-size: 25px;">Nhập dữ liệu</h1>
                                    <form action="/upload" method="post" enctype="multipart/form-data">
                                        <!-- Input file -->
                                        <label for="fileUpload">Chọn tệp:</label>
                                        <input type="file" id="fileUpload" name="file" required>
                                        <!-- Submit button -->
                                        <label for="model_id">Lựa chọn model</label>
                                        <select id="model_id" name="model_id">
                                            {% for i in range(models|length) %}
                                            <option value="{{ i }}">{{ models[i]['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit">Dự đoán</button>
                                    </form>
                                    {% if error %}
                                    <p style="color: red;">{{ error }}</p>
                                    {% endif %}

                                    <!-- Hiển thị bảng dữ liệu nếu có -->
                                    {% if columns and reality %}
                                    <div style="max-height:400px;overflow-y: auto; border: 1px solid #ddd;">
                                        <table>
                                            <thead>
                                                <tr>
                                                    {% for col in columns %}
                                                    <th>{{ col }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in range(reality|length) %}
                                                <tr>
                                                    <td>{{ reality[i] }}</td>
                                                    <td>{{predict[i]}}</td>
                                                    {% endfor %}
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-6">
                                {% if cfs_matrix is not none and cfs_matrix|length > 0 %}
                                <div class="card">
                                    <div class="card-header">
                                        <!--<h4>Biểu đồ số tiền giao dịch</h4>-->
                                    </div>
                                    <div class="card-body">
                                        <img src="data:image/png;base64,{{ cfs_matrix }}" alt="Biểu đồ"
                                            style="height: 90%; width: 90%;">
                                    </div>

                                    {% endif %}
                                    {% if classification_report %}
                                    </br></br>
                                    <pre>
                                {{classification_report}}
                                </pre>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </div>

            <!-- Content -->
        </div>
    </div>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            margin: 10px 0;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            vertical-align: middle;
        }

        th {
            background-color: #f4f4f4;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</body>

</html>